body{
  margin: 0;
}
h1{
  margin: 0px;
}
.pie{
  position: sticky;
  bottom: 0px;
  margin: 20px auto;
  width: 800px;
  border-left: 4px solid gray;
  height: 163px;
}
.seccion{
  margin: auto;
  width: 800px;
  background: pink;
  padding: 10px;
}
